*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.navbar{
    border-bottom: 1px solid #fff;
    z-index: 100;
    
}
.navbar ul{
    display: flex;
    width: 100%;
    align-items: center;
    background: #121212;
    color: white;
    padding-right: 1em;
}
.navbar li{
    list-style-type: none;
    padding: 1rem;
}
.navbar a{
    text-decoration: none;
    color: #fff;
}
.navbar-logo{
    flex: 1;
    font-size: 1.5rem;
    cursor: pointer;
    color: #1ee2e7;
}

.navbar-toggle{
    display: none;
}
.navbar-links:hover {
    background-color: #1ee2e7;
    border-radius: 5px;
}
.navbar-links:hover a{
    color: #fff;
}
.section-home{
    z-index: 2;
    position: relative;
    background: url(bg3.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
.section-home h2{
    padding-top: 6em;
    font-size: 2em;
    text-align: center;
    color: #fff;
}
.section-home p{
    padding-top: 6px;
    font-size: 3em;
    text-align: center;
    letter-spacing: 2px;
    color: #fff;
}

/******************************Section Services*************************************/
.section-services{
    text-align: center;
    background: #f4f4f4;
    padding-top: 20px;
}
.container-services{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.col-4{
    margin-bottom: 80px;
}
.services-header{
    margin-top: 90px;
    font-size: 2.5em;
}
.services-paragraf{
    margin-top: 20px;
}

.col-4 .fa{
    padding-bottom: 10px;
}
.col-4 h3{
    padding-bottom: 10px;
    font-size: 15px;
}
.col-4 p{
    font-size: 12px;
}